.container{
  font-family: 'Bellota', cursive;
  font-size: 30px;
  font-weight: 500;
  margin:auto;
  padding: 70px;
  background-color: #e3d7bf;
}
h1{
text-decoration: underline;
text-align: center;
font-size: 45px;
font-weight: 800;
}
img{
  height: 250px;
}
label{
  font-weight: 600;
}
body{
background:
  linear-gradient(324deg, #232927 4%,   transparent 4%) -70px 43px,
linear-gradient( 36deg, #232927 4%,   transparent 4%) 30px 43px,
linear-gradient( 72deg, #e3d7bf 8.5%, transparent 8.5%) 30px 43px,
linear-gradient(288deg, #e3d7bf 8.5%, transparent 8.5%) -70px 43px,
linear-gradient(216deg, #e3d7bf 7.5%, transparent 7.5%) -70px 23px,
linear-gradient(144deg, #e3d7bf 7.5%, transparent 7.5%) 30px 23px,

linear-gradient(324deg, #232927 4%,   transparent 4%) -20px 93px,
linear-gradient( 36deg, #232927 4%,   transparent 4%) 80px 93px,
linear-gradient( 72deg, #e3d7bf 8.5%, transparent 8.5%) 80px 93px,
linear-gradient(288deg, #e3d7bf 8.5%, transparent 8.5%) -20px 93px,
linear-gradient(216deg, #e3d7bf 7.5%, transparent 7.5%) -20px 73px,
linear-gradient(144deg, #e3d7bf 7.5%, transparent 7.5%) 80px 73px;
background-color: #232927;
background-size: 100px 100px;
}
